
/* customisation banner */
#sectbanner{
    background-color:black ;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#sectbanner h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    font-size: 1.7rem;
}
#sectbanner img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#sectbanner button{
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    transition: 0.25 ease;
}
#sectbanner button:hover{

    background-color:rgb(133, 59, 143) ;
}

/* customisation description */
#description{
    font-size: 1.5rem;
}

/* customisation gaming */
#gaming{
height: 70vh;
background-color: black;
color: white;
margin: 2rem auto;
}

#gaming .img-container{
    padding-top:2rem;
    width: 100%;
    height: 40%;
    object-fit: cover;
}

#gaming .personnage {
    position: relative;
 }

#gaming .btn-rdv {
    color: white;
    position: absolute;
    font-size: 1rem;
    font-weight: 700;
    background-color: black; 
    border: 1px solid white;
    left: 50%;
    transform: translateX(-50%);
}
#gaming .btn-rdv:hover {
    background-color:rgb(133, 59, 143);
}

/**************************************************SECTION CONTACT */
#section-contact .contact-container {
    width:85%;
    margin-top:10vh;
    margin-bottom:5vh;
}

#section-contact h3 {
    font-family:"Montserrat Bold";
    font-size:18px;
}

#section-contact ul {
    list-style: none;
    padding:0;
    margin:0;
}

#section-contact p, #section-contact li {
    font-family:"Montserrat Medium";
    font-size:12px;
}

#section-contact .info-container {
    height:100%;
}


/************************************************SECTION MEDIA */
#section-media .media-container {
    width:80%;
    margin-bottom:4vh;
}

#section-media .media-grey-line {
    height:1px;
    width:100%;
    background-color:rgb(238, 238, 238);
    margin-bottom:4vh;
    margin-top: 4vh;
}

#section-media h3 {
    font-family:"Montserrat Bold";
    font-size:15px;
    text-transform:uppercase;
}

#section-media p {
    font-family:"Montserrat Medium";
    font-size:10px;
}